html, body {
    width: 100%;
    height: 100%;
    background-color: saddlebrown;
}

.play {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 0 25px 0;
    
}
.play__contents {
    text-align: center;
    position: absolute;
    font-size=0;
    padding-top: 10px;
    padding: 0 30% 0 30%;   
}

.play__title {
    margin-bottom : 25px;
    color: white;
    font-size: 35px;
    
}
.contents__desc {
    padding: 15px 15px 15px 15px;
    font-size: 16px; 
    width : 300px;
    border: 1px solid white;
    border-radius: 20px 40px 60px 80px;
    color: brown;
    background-color: white;
}

#name-input {
    margin: 0px 20% 30px 20%;
    width: 200px;
    text-align: center;
}
#name-input > input {
    height: 50px;
    width: 100%;
    line-height: 50%;
    font-size: 16px;
    text-align: center;
    border: solid 2px brown;
    border-radius: 12px;
}
.start-wrap {
    margin : 0px 20% 50px 20%;
    width: 60%;
}
.start {
    height: 50px;
    line-height: 50%;
    font-size: 48px;
    font-size: 3rem;
}